body{
	font-family: 
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}


/*Mobile IPhone*/
@media screen and (max-width: 449px){


/*NavBar*/
nav ul li{
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}
nav ul li:hover {
    color: green;
}
nav{
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-image: url("Images/balconies_green.jpg");
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    padding: 1%;
    font-size: 8px;
}
nav li img{
	width: 13%;
	margin: 1%;
	margin-left: 10%;
	margin-right: 10%;
}

/*Footer*/
#footer{
	background-color: #F0F8FF;
	padding-top: 2%;
	padding-bottom: 3%;
}
#footer div{
	margin-left: 6%;
	vertical-align: text-top;
}
#footer h3{
	font-size: 16px;
	font-weight: bold;
}
#footer ul{
	padding-top: 7px;
	list-style-type: none;
	padding-left: 0;
}
#footer img{
	width: 35px;
}
}





@media screen and (min-width: 450px){
/*Three Sqaures*/


/*NavBar*/
nav ul li{
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}
nav ul li:hover {
    color: green;
}
nav{
	background-image: url("Images/balconies_green.jpg");
	text-align: center;
	padding-top: 1%;
	padding-bottom: 30%;
	background-repeat:no-repeat;
	background-position:center center;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
}
nav ul {
	font-size: 17px;
    list-style-type: none;
    color:white;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 1.5%;
/*  border-radius: 40%;
    border: 2px solid white;*/
}
nav li img{
	width: 18%;
	margin: 1%;
	margin-left: 6%;
	margin-right: 6%;
}


#titleApartments{
	text-align: center;
	margin-top: 2%;
	font-size: 35px;
	font-weight: lighter;
}
.squares{
	width: 100%;
	text-align: center;
}
.squares div{
	display: inline-block;
	vertical-align: top;
	margin: 3%;
	width: 25%;
}
.square img{
	width: 100%;
	border-radius: 5%;
}
.square p{
	font-size: 16px;
}
.square h3{
	font-size: 20px;
}

/*Modal*/

#logoModal{
	width: 50%;
}
#googleMapModal{
	width: 100%;
}

/*About Us*/

#aboutUsText{
	margin: 2%;
	text-align: center;
	margin-left: 8%;
	margin-right: 8%;
}
.imageLayover{
	width:100%;
	position: relative;
}
.aboutTitle{
	font-size: 30px;
}
p{
	font-size: 16px;
}
.applyNow{
	margin-top: 10px;
	text-transform: uppercase;
	background-color: black;
	color: white;
	border: none;
	width: 140px;
	height: 33px;
}
.applyNow:hover{
	color:#000000;
}
#aboutPic{
	width: 100%;
	position: relative;
	opacity: .6;
}
.aboutUs{
	width: 350px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 25%;
	left: 45%;
}

/*Contact Form*/
#titleContact{
	text-align: center;
	margin-top: 2%;
	font-size: 35px;
	font-weight: lighter;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #BDC8D6;
}
#contact{
	width: 100%;
}
#contact p{
	float: right;
	display: inline-block;
}
#contactForm{
	margin-left: 2%;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-bottom: 2%;
}
#contactSubmit{
	background-color: green;
	color: white;
	display: inline-block;
	font-size: 15px;
}
#contact li{
	list-style-type: none;
	margin-bottom: 1%;
}
#contactInfo{
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
	width: 40%;
}
#googleMap{
	margin-top: 5%;
}



#tables img{
	width: 100%;
}
/*Footer*/


#footer{
  	bottom:0;
   	width:100%;
	background-color: #BDC8D6;
	padding-top: 2%;
	padding-bottom: 4%;
}
#footer div{
	text-align: center;
	vertical-align: text-top;
}
#footer h3{
	font-size: 18px;
	font-weight: bold;
}
#footer ul{
	padding-top: 7px;
	list-style-type: none;
	padding-left: 0;
}
#footer img{
	width: 45px;
}
#footer li{
	display: inline;
	margin: 2%;
}

}

